html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: #bd80ff;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: #5800b3;
}

.card:hover {
    cursor: pointer;
}

.button-get-started .btn {
    border: none;
}

.button-get-started .btn:hover {
    background-color: #9633ff;
    color: white;
}

.card-member a {
    color: blue;
}