html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: #bd80ff;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: #5800b3;
}

@keyframes letsGo {
    0%{
        transform: translateY(100%);
        opacity: 0.1;
        }
    100%{
        transform: translateY(0);
        opacity: 1;
        }
}

#main-title-area {
    animation: letsGo 1.25s 1 0s ease;
}

#letsgo {
    animation: letsGo 2s 1 0s ease;
}

h2 a {
    font-family: "Poppins", "Times New Roman", serif;
}

.card:hover {
    cursor: pointer;
}

.button-get-started .btn {
    border: none;
}

.button-get-started .btn:hover {
    background-color: #9633ff;
    color: white;
}

.card-member a {
    color: blue;
}